<ion-content class="fodase" [fullscreen]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center bg__calculadora">
      <ion-col size="6" size-md="8" size-sm="12" >

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="6" size-md="6" size-sm="12" class="calculadora altura-base">
    
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="12" size-md="8" size-lg="6">
                <ion-row class="exib-num">
                  <ion-col size="12">
                    <ion-label placeholder="To pronta!"></ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
    
            <ion-row class="numbers">
              <ion-col>
                <ion-row>
                  <ion-col size="3">
                    <ion-button class="base__button">C</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">+/-</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">←</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">÷</ion-button>
                  </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col size="3">
                    <ion-button class="base__button">7</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">8</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">9</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">x</ion-button>
                  </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col size="3">
                    <ion-button class="base__button">4</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">5</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">6</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">-</ion-button>
                  </ion-col>
                </ion-row>
        
                <ion-row>
                  <ion-col size="3">
                    <ion-button class="base__button">1</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">2</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">3</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">+</ion-button>
                  </ion-col>
                </ion-row>
        
                <ion-row>
                  <ion-col size="3">
                    <ion-button class="base__button">0</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">,</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">%</ion-button>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button class="base__button">=</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
    
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
</ion-content>